<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 2022.11.25[프뚜] 파일 최대 용량 -->
    <property name="MAX_FILE_SIZE" value="50MB"/>

    <!-- 2022.11.25[프뚜] 파일 최대 저장일자 -->
    <property name="MAX_HISTORY" value="7"/>

    <!-- 2022.11.25[프뚜] 파일명 -->
    <property name="API_LOG_PATH_NAME" value="c:/works/test/API.log"/>
    <property name="AUTH_LOG_PATH_NAME" value="c:/works/test/AUTH.log"/>
    <property name="PORTAL_LOG_PATH_NAME" value="c:/works/test/PORTAL.log"/>

    <!-- 2022.11.25[프뚜] API -->
    <appender name="api" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${API_LOG_PATH_NAME}</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${API_LOG_PATH_NAME}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %m%n</pattern>
        </layout>
    </appender>

    <!-- 2022.11.25[프뚜] AUTH -->
    <appender name="auth" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${AUTH_LOG_PATH_NAME}</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${AUTH_LOG_PATH_NAME}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %m%n</pattern>
        </layout>
    </appender>

    <!-- 2022.11.25[프뚜] PORTAL -->
    <appender name="portal" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PORTAL_LOG_PATH_NAME}</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PORTAL_LOG_PATH_NAME}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %m%n</pattern>
        </layout>
    </appender>

    <!-- 2022.11.25[프뚜] tistory.petoo.api package -->
    <logger name="tistory.petoo.api" level="INFO" additivity="false">
        <appender-ref ref="api"/>
    </logger>

    <!-- 2022.11.25[프뚜] tistory.petoo.auth package -->
    <logger name="tistory.petoo.auth" level="INFO" additivity="false">
        <appender-ref ref="auth"/>
    </logger>

    <!-- 2022.11.25[프뚜] tistory.petoo.portal package -->
    <logger name="tistory.petoo.portal" level="INFO" additivity="false">
        <appender-ref ref="portal"/>
    </logger>
</configuration>